.dashboard-container {
    display: flex;
    background-color: var(--secondary);
}

h1 {
    color: var(--primary);
}

.mat-tab-group {
    width: 100%;
    background-color: brown;
}

.sidebar {
    position: relative;
    display: flex;
    min-height: 100vh;
}

.sidebar ul {
    list-style: none;
    background-color: rgba(0, 4, 5, 0.829);
    flex-grow: 1;
    width: 230px;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0 0 20px;
}

.sidebar ul li {
    display: flex;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar .mat-icon {
    font-size: 1.6rem;
}

.sidebar li.active {
    color: var(--primary);
    font-weight: bold;
  }

.sidebar li:hover {
    color: var(--primary);
}

button {
    background-color: var(--primary);
    padding: 10px;
    color: var(--secondary);
    border: none;
    width: 40%;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--corporation);
    transition: 0.3s;
}

.toggle-area {
    width: 17px;
    height: 100vh;
    position: absolute;
    right: -15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-area:hover {
    background: linear-gradient(180deg, rgba(74, 77, 78, 0.5), rgba(74, 77, 78, 0.2));
}

.toggle-icon {
    color: var(--primary);
  }
  
  .sidebar.collapsed {
    width: 22px;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar.collapsed ul {
    display: none;
  }

  .sidebar.collapsed .toggle-area {
    left: 0;
    padding: 0;
    margin: 0;
  }
  
  .content {
    padding: 20px 40px;
    width: 100%;
  }

  .atualizar-perfil {
    padding: 20px;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    background: var(--background);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .atualizar-perfil label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .atualizar-perfil input, .atualizar-perfil textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }

  textarea {
    height: 150px;
  }

  .add-skill {
    background-color: var(--corporation);
    width: 20%;
    margin-top: 10px;
  } 
  .atualizar-perfil button:hover {
    background: var(--type-complement);
  }

  .profile-skills ul {
    display: flex;
    gap: 10px;
  }

  .profile-skills ul li {
    background-color: var(--type-complement);
    display: flex;
    margin-top: 20px;
    gap: 7px;
    padding: 10px;
    border-radius: 20px;
  }

  .remove-skill {
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-delete {
    font-size: 1.4rem;
    color: rgb(204, 19, 19);
  }

  .listagem-vagas-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .notificacao {
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .notificacao-info p {
    font-size: 16px;
    color: #555;
  }
  
  .notificacao-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .notificacao button {
    background-color: var(--corporation);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .notificacao button:hover {
    background-color: #45a049;
  }
  
  .notificacao button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .notificacao.lida {
    background-color: #e0e0e0;
    border-color: #ccc;
  }
  
  .notificacao.lida .notificacao-info p {
    text-decoration: line-through;
    color: #888;
  }

  .vagas {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .vagas button {

  }

  
  
