.dashboard-container {
    display: flex;
    background-color: var(--secondary);
}

h1 {
    color: var(--primary);
}

.mat-tab-group {
    width: 100%;
    background-color: brown;
}

.sidebar {
    position: relative;
    display: flex;
    min-height: 100vh;
}

.sidebar ul {
    list-style: none;
    background-color: rgba(0, 4, 5, 0.829);
    flex-grow: 1;
    width: 230px;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0 0 20px;
}

.sidebar ul li {
    display: flex;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar .mat-icon {
    font-size: 1.6rem;
}

.sidebar li.active {
    color: var(--primary);
    font-weight: bold;
  }

.sidebar li:hover {
    color: var(--primary);
}

button {
    background-color: var(--primary);
    padding: 10px;
    color: var(--secondary);
    border: none;
    width: 40%;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--corporation);
    transition: 0.3s;
}

.toggle-area {
    width: 17px;
    height: 100vh;
    position: absolute;
    right: -15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-area:hover {
    background: linear-gradient(180deg, rgba(74, 77, 78, 0.5), rgba(74, 77, 78, 0.2));
}

.toggle-icon {
    color: var(--primary);
  }
  
  .sidebar.collapsed {
    width: 22px;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar.collapsed ul {
    display: none;
  }

  .sidebar.collapsed .toggle-area {
    left: 0;
    padding: 0;
    margin: 0;
  }
  
  .content {
    padding: 20px 40px;
    width: 100%;
  }

  .candidaturas {

  }

  .vagas {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .vagas button {

  }

  
  
