<app-navbar />

<div class="dashboard-container">

  <!-- Sidebar -->
  <div class="sidebar" [class.collapsed]="!sidebarOpen">
    <div class="toggle-area" (click)="toggleSidebar()">
        <mat-icon class="toggle-icon">
            {{ sidebarOpen ? 'chevron_left' : 'chevron_right' }}
        </mat-icon>
    </div>
    

    <ul *ngIf="sidebarOpen">
      <li *ngFor="let link of sidebarLinks" 
          [class.active]="isActive(link.section)"
          (click)="setActiveSection(link.section)">
        <mat-icon>{{ link.icon }}</mat-icon> {{ link.label }}
      </li>
    </ul>
  </div>

  <!-- Conteúdo -->
  <div class="content">
    <app-candidato-card-profile [candidato]="candidato" *ngIf="isActive('perfil')"></app-candidato-card-profile>

    <div class="atualizar-perfil" *ngIf="isActive('atualizar-perfil')">
      <h1>Editar Perfil</h1>
      <form (ngSubmit)="salvarAlteracoes()">
        <label>Nome</label>
        <input type="text" [(ngModel)]="candidato.nome" name="nome">
    
        <label>Sobre</label>
        <textarea [(ngModel)]="candidato.resumo" name="resumo"></textarea>
    
        <div class="profile-skills">
          <label>Competências</label>
          <input type="text" [(ngModel)]="habilidadesInput" name="habilidadesInput" (keyup.enter)="adicionarHabilidade()">
          <button type="button" class="add-skill" (click)="adicionarHabilidade()">Adicionar Competência</button>
          <ul>
            <li *ngFor="let habilidade of listaHabilidades; let i = index">
              {{ habilidade }}
              <span class="remove-skill" (click)="removerHabilidade(i)"><mat-icon class="icon-delete">delete</mat-icon></span>
            </li>
          </ul>
        </div>
    
        <label>Email</label>
        <input type="email" [(ngModel)]="candidato.email" name="email" value="{{ candidato.email }}">
    
        <button type="submit" >Salvar</button>
      </form>
    </div>

    <div class="candidaturas" *ngIf="isActive('candidaturas')">
      <h1>Minhas Candidaturas</h1>
      <div class="listagem-vagas-container">
        <div class="list-vagas" *ngFor="let candidatura of candidaturas; let i = index">
            <app-card-vaga [vaga]="candidatura" [local]="'candidaturas'"></app-card-vaga>
        </div>
      </div>
    </div>

    <div class="vagas" *ngIf="isActive('vagas')">
      <h1>Vagas</h1>
      <button (click)="navigateToListagemVagas()">Ver vagas disponíveis</button>
    </div>

    <div class="notificacoes" *ngIf="isActive('notificacoes')">
      <h1>Notificações</h1>

      <div class="notificacao" *ngFor="let notificacao of notificacoes">
        <div class="notificacao-info">
          <p>{{ notificacao.mensagem }}</p>
        </div>
        <!-- <div class="notificacao-actions">
          <button (click)="marcarNotificacaoComoLida(notificacao.id ? notificacao.id : '')">Marcar como lida</button>
        </div> -->
      </div>
    </div>

  </div>

</div>

<app-footer />
