<div class="profile">
    <div class="profile-data">
      <img src="/capa.jpg" class="profile-capa" alt="">
      <img src="/profile.jpg" class="profile-img" alt="">
      <h2 class="profile-name">{{ candidato.nome }}</h2>

      <h3 class="profile-header">Sobre </h3>
      <p>{{candidato.resumo ? candidato.resumo : "sem descrição"}} </p>

      <h3 class="profile-header">Competências</h3>
      <div class="profile-skills">
          <div class="skills" *ngFor="let hab of candidato.habilidades">
              <p>{{ hab }}</p>
          </div>
      </div>

      <h3 class="profile-header">Dados pessoais</h3>
      <p><strong>CPF: </strong> {{candidato.cpf}}</p>

      <h3 class="profile-header">Contatos</h3>
      <p><strong>Email: </strong> {{candidato.email}}</p>

    </div>
</div>