<!-- <p>Nome : {{candidato.nome}}</p> -->
<!-- <p> Candidaturas : {{candidato?.candidaturas}}</p> -->

<!-- <button (click)="buscarCandidato('1234')">Buscar Candidato</button> -->

<!-- Cadastro -->
<!-- 
 <h2>Cadastrar Candidato</h2>

<form #candidatoForm="ngForm" (ngSubmit)="cadastrar()">
  
  <label for="cpf">CPF:</label>
  <input type="text" id="cpf" [(ngModel)]="candidato.cpf" name="cpf" required />

  <label for="nome">Nome:</label>
  <input type="text" id="nome" [(ngModel)]="candidato.nome" name="nome" required />

  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="candidato.email" name="email" required />

  <button type="submit" [disabled]="candidatoForm.invalid">Cadastrar</button>
</form>  -->
 
<!-- <div *ngIf="candidatoCadastrado">
  <h3>Candidato Cadastrado:</h3>
  <p><strong>CPF:</strong> {{ candidatoCadastrado.cpf }}</p>
  <p><strong>Nome:</strong> {{ candidatoCadastrado.nome }}</p>
  <p><strong>Email:</strong> {{ candidatoCadastrado.email }}</p>
</div> -->




<!-- BUSCAR CANDIDATOS -->

<!-- <h2>Buscar Candidato</h2>

<form #buscarForm="ngForm" (ngSubmit)="buscarCandidato(candidato.cpf)">
  <label for="cpf">CPF:</label>
  <input type="text" id="cpf" [(ngModel)]="candidato.cpf" name="cpf" required />

  <button type="submit" [disabled]="buscarForm.invalid">Buscar</button>
</form>

<div *ngIf="candidato">
  <h3>Dados do Candidato:</h3>
  <p><strong>CPF:</strong> {{ candidato.cpf }}</p>
  <p><strong>Nome:</strong> {{ candidato.nome }}</p>
  <p><strong>Email:</strong> {{ candidato.email }}</p>
</div> -->

<!-- DELETAR CANDIDATO -->

<!-- <h2>Deletar Candidato</h2>

<form #deletarForm="ngForm" (ngSubmit)="deletarCandidato(candidato.cpf)">
  <label for="cpf">CPF:</label>
  <input type="text" id="cpf" [(ngModel)]="candidato.cpf" name="cpf" required />

  <button type="submit" [disabled]="deletarForm.invalid">Deletar</button>
</form> -->
<!-- <h2>Candidatar</h2>
<form #candidaturaForm="ngForm" (ngSubmit)="candidatar(vagaInput.value)">
  <label for="cpf">CPF do Candidato:</label>
  <input id="cpf" #cpfInput type="text" name="cpf" required />

  <label for="vaga">ID da Vaga:</label>
  <input id="vaga" #vagaInput type="number" name="vaga" required />

  <button type="submit">Candidatar</button>
</form> -->

<!-- <div *ngIf="mensagem" class="mensagem">
  {{ mensagem }}
</div> -->

<!-- <h2>Remover candidatura</h2>
<form #candidaturaForm="ngForm" (ngSubmit)="removerCandidatura(vagaInput.value)">
  <label for="cpf">CPF do Candidato:</label>
  <input id="cpf" #cpfInput type="text" name="cpf" required />

  <label for="vaga">ID da Vaga:</label>
  <input id="vaga" #vagaInput type="number" name="vaga" required />

  <button type="submit">Remover Candidatura</button>
</form> -->

<!-- <button (click)="verificarCPF('1234423423')">verifica</button> -->

<!-- Login -->
<!-- 
<h2>Login</h2>
<form (submit)="login(candidato.cpf, candidato.senha)">
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" [(ngModel)]="candidato.cpf" name="cpf" required>
    <br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" [(ngModel)]="candidato.senha" name="senha" required>
    <br>
    <button type="submit">Logar</button>
</form> -->

<!-- LISTAR CANDIDATURAS -->

<!-- <button (click)="listarCandidaturas(candidato.candidaturas)">Listar candidaturas</button>

<ul>
    <li *ngFor="let candidatura of candidaturas">
        {{candidatura.id}} - {{candidatura.titulo}} - {{candidatura.salario}}
    </li>
</ul>  -->