.search-section {
    height: 70vh;
    background-color: var(--primary);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    
    
    padding-left: 60px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    & div {
      width: 100%;
      text-align: center;
    }

    & h2 {
        font-size: 3.2em;
        margin-bottom: 70px;
    }

    & label {
        font-size: 1.2em;
    }

    & .search-area {
        width: 100%;
        margin-top: 10px;
    }

    #search-input {
        width: 30%;
        padding: 10px;
        border-radius: 4px;
        border: none;
        margin-right: 10px;
    }

    #search-input::placeholder {
        color: var(--text-color);
    }

    /* & img {
      border-radius: 8px;
      width: 35%;
      position: absolute;
      right: 100px;
    } */
}

.subtitle {
    width: 40%;
    font-size: 2em;
    margin: 24px 0 50px 10%;
    color: var(--primary);
}

.btn {
    background-color: var(--primary);
    color: var(--secondary);
}

.last-update {
    color: var(--text-color);
    margin-bottom: 70px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 0 auto;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .about-history {
    padding: 0 70px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 100px;
    
    & img {
        width: 50%;
        border-radius: 8px;
    }
  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .btn-new-vaga {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    width: 80%;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-new-vaga:hover {
    background-color: var(--corporation);
    transition: 0.3s;
  }

  .partners-section {
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;

  }

  .partners-text {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & p {
        width: 80%;
    }
  }

  .partners-text h3 {
    font-size: 1.4rem;
  }

  .partners {
    width: 50%;
  } 


  