.card-vaga {
    background-color: var(--secondary);
    padding: 16px;
    width: 30vw;
    height: 420px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.company {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--corporation);
  margin: 10px 0;
}

.location {
  margin: 10px 0;
}

.description {
  margin: 30px 0;
}
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  p {
    color: var(--text-color);
    font-size: 1em;
  }
  
  button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    
    font-size: 1rem;
    position: absolute;
    bottom: 16px;

  }
  
  button:hover {
    background-color: var(--corporation);
    transition: 0.3s;
  }
  
  .lista-requisitos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .requisito {
    background-color: var(--type-complement);
    border-radius: 10px;
    padding: 5px 10px;
  }