<div class="card-vaga">
    <div class="editavel">
        <h2>{{ vaga.titulo }}</h2> 
        <span *ngIf="local === 'editar'" >
        <mat-icon (click)="editarVaga()">edit</mat-icon>
        <mat-icon (click)="excluirVaga()">delete</mat-icon>
    </span>
</div>
    <p class="company">{{ vaga.empresa }}</p>
    <p class="location"><strong>Local:</strong> {{ vaga.local }}</p>
    <p><strong>Salário:</strong> R$ {{ vaga.salario }}</p>
    
    <div class="lista-requisitos">
        <div class="requisito" *ngFor="let requisito of vaga.requisitos">
            <p>{{ requisito }}</p>
        </div>
    </div>

    <p class="description">{{ vaga.descricao }}</p>
    <button (click)="candidatar()" *ngIf="candidato && !local">Enviar currículo</button>
    <button (click)="verCandidatos()" *ngIf="recrutador">Mostrar candidaturas</button>
    <button (click)="deletarCandidatura()" *ngIf="local === 'candidaturas'">Cancelar candidatura</button>
</div>
