.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;
    padding: 0 60px;

    background-color: var(--secondary);
    border-bottom: 1px solid var(--text-color);
}

.navbar-logo {
    cursor: pointer;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 20px;
    
    & li button {
        width: 100px;
        text-align: center;
        padding: 10px 0;
        border-radius: 5px;
        color: var(--secondary);
        background-color: var(--primary);
        font-weight: bold;
        cursor: pointer;

        & a {
            text-decoration: none;
            color: var(--secondary);
        }
    }

    & li:hover {
        scale: 1.05;
        transition: 0.3s;
    }

}

.signup-button {
    background-color: var(--background);
    color: var(--text-color);
}