<nav class="navbar">
    <img src="/ContratAe.svg" class="navbar-logo" alt="Logo da empresa ContratAe" 
    (click)="navigateToHome()"/>

    <ul class="navbar-links" *ngIf="!isAuthenticated">
        <li> 
            <button mat-button [matMenuTriggerFor]="loginMenu">Entrar</button>
            <mat-menu #loginMenu="matMenu">
                <button mat-menu-item (click)="setUserAndGoToLogin('c')">Candidato</button>
                <button mat-menu-item (click)="setUserAndGoToLogin('r')">Recrutador</button>
            </mat-menu>
        </li>
        <li>
            <button class="signup-button" [matMenuTriggerFor]="signupMenu">Criar conta</button>
            <mat-menu #signupMenu="matMenu">
                <button mat-menu-item (click)="setUserAndGoToCadastro('c')">Candidato</button>
                <button mat-menu-item (click)="setUserAndGoToCadastro('r')">Recrutador</button>
            </mat-menu>
        </li>
    </ul>

    <div *ngIf="isAuthenticated">
        <app-menu />
    </div>
</nav>
